@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #ffffff;
}
a
{
  text-decoration: none !important;
  color: gray !important;
}

.menu{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: black !important;
  overflow: visible;
  z-index: 1000;
}
.menu,
.menu .nav-links {
  display: flex;
  align-items: center;
}
.menu {
  justify-content: space-between;
}
.menu .logo {
  font-size: 22px;
  font-weight: 500;
  color: black !important;
}
.menu .nav-links {
  column-gap: 20px;
  list-style: none !important;
}
.menu .nav-links a {
  transition: all 0.2s linear;
}
.menu.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.menu .search-icon {
  color: black;
  font-size: 20px;
  cursor: pointer;
}
.menu .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.menu.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: black;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: solid red;
  border-radius: 6px;
  background-color: #f0faff;
  padding: 0 15px 0 45px;
}
.menu .navOpenBtn,
.menu .navCloseBtn {
  display: none;
}
.menu .search-icon:hover
{
  color: red !important;
}
.menu .menu-title {
  padding: 10px 16px;
  font-weight: bold;
  color: black !important;
  position: relative;
}

.menu .menu-title::after {
  content: "";
  height: 0;
  width: 0;
  background: red;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 200ms ease;
}

.menu ul li:hover > .menu-title::after {
  height: 4px;
  width: 100%;
}

.has-submenu::after {
  content: "";
  margin-left: -8px;
}

.menu .submenu-container {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  left: 320px;
  top: 50px;
  width: 57%;
  transform: translateY(20px);
  transition: all 200ms ease;
  position: absolute;
  z-index: 1100;
  /* background-color: aqua !important; */
}
.has-submenu
{
  justify-content: center !important;
  z-index: 1100;
}
.menu .has-submenu:hover .submenu-container {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  z-index: 1100;
}

.submenu .colmn3 img {
  width: 100%;
}

.submenu .colmn3{
  display: flex;
  /* gap: 15px; */
  border-top: 1px solid rgba(2, 48, 71, 0.2);
}

.submenu {
  /* background: blue; */
  padding: 16px 24px;
  margin-top: 42px;
  box-shadow: 0 4px 50px -7px rgba(0, 0, 0, 0.2);
  color: #000000;
  justify-content: center;
  z-index: 1100;
  overflow: visible;
  background-color: #fff;
}
/* .ab{
  position: relative;
} */
.submenu .colmn3 ul li {
  padding: 0;
  margin: 12px 0;
  position: relative;
  width: 100%;
  white-space: nowrap;
  font-size: 13px;
}
.submenu .colmn3 ul li::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  left: 0;
  opacity: 60%;
  background: red;
  transition: all 400ms ease;
  /* display: flex; */
}

.submenu .colmn3 ul li:hover::before {
  width: 4px;
  opacity: 90%;
  background: red;
}

.submenu h4 {
  /* margin-top: 50px !important; */
  font-size: 19px !important;
  margin-bottom: -20px !important;
  
}
.submenu-column
{
  justify-content: center !important;
  padding: 0 40px !important;
}
/* .submenu-column a
{
  padding: 0 20px !important;
} */
.submenu.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  text-align: center;
}

.submenu.grid svg {
  height: 42px;
}

.submenu.grid .submenu-column {
  padding: 5px 5px;
}

.submenu.grid .submenu-column:hover {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.submenu.grid .submenu-column:hover {
  color: #e94343;
}


/* slider */

.main-slider {
  height: 100vh;
  width: 100%;
  z-index: 1;
}
.wrapper, .slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide {
  overflow: hidden;
}
.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.image-data h2
{
  font-size: 70px !important;
}
.image-data .text
{
  font-size: 25px !important;
}
.slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}
.image-data span.text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.image-data h2 {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
}
a.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: #333;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}
a.button:hover {
  color: #fff !important;
  background-color: red;
}

/* swiper button css */
.nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.swiper1 .swiper-button-next {
  right: 50px;
}
.swiper1 .swiper-button-prev {
  left: 50px;
}
.nav-btn::before,
.nav-btn::after {
  font-size: 25px;
  color: #fff;
}
.swiper1 .swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
}
.swiper1 .swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #c87e4f;
}
.three-sec svg
{
  width: 56px;
  height: 56px;
  position: absolute;
  margin-left: 125px;
  
}
.three-sec svg,h5
{
  margin-top: 10px;
}
.three-sec , .sec3
{
  max-width: 100%;
  margin-left: 0px;
}
.main-sec4
{
  margin-top: 10%;
}
.fourth-sec
{
  height: 760px;
}
.sec4
{
  position: relative;
}
.blob1 {
  background: black;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  position: absolute;
  bottom: 36%;
  left: 23.1%;

  box-shadow: 0 0 0 0 rgb(250, 1, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}
.blob2 {
  background: black;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  position: absolute;
  bottom: 36%;
  left: 40.3%;

  box-shadow: 0 0 0 0 rgb(250, 1, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}
.blob3 {
  background: black;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  position: absolute;
  bottom: 36%;
  left: 56.7%;

  box-shadow: 0 0 0 0 rgb(250, 1, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}
.blob4 {
  background: black;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  position: absolute;
  bottom: 36%;
  left: 77.6%;

  box-shadow: 0 0 0 0 rgb(250, 1, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(250, 1, 1, 0.7);
  }

  70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(250, 0, 0, 0);
  }

  100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(250, 0, 0, 0);
  }
}
.box4-1
{
  position: absolute;
  width: 13%;
  left: 17%;
  top: 85%;
}
.box4-2
{
  position: absolute;
  width: 13%;
  left: 35.5%;
}
.box4-3
{
  position: absolute;
  top: 85%;
  width: 13%;
  left: 51.5%;
}
.box4-4
{
  position: absolute;
  width: 13%;
  left: 72.5%;
  margin-bottom: -5px;
}
.sec4 .svg1
{
  height: 50px;
  width: 50px;
  position: relative;
  left: 40%;
}
.sec4 .svgs
{
  height: 50px;
  width: 50px;
  position: relative;
  left: 30%;
}
/* end of sec4 */

.txt {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-image: url(covertest2.jpg);
  background-attachment: fixed;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* display: flex;
  position: relative; */
}
.ps
{
  position: absolute;
  /* left: 8%; */
  margin-top: 10%;
  text-align: center !important;
  justify-content: center;
}
.ptxt
{
  font-size: 60px;
}
.buttn
{
  height: 55px;
  width: 150px;
  margin-top: 20px;
}
.buttn:hover
{
  background-color: red !important;
  color: #fff !important;
  border: red;
}
/* products slider */

.main-cards {
  margin: 2rem 0;
  min-height: 100vh;
}
.main-cards h2 , h4 {
  font-size: 2rem;
  color: black !important;
  font-weight: 600;
}
.main-cards p {
  color: black;
}
.main-cards img {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}
.sec5 {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 15px;
}
.sec5-swiper {
  padding-top: 30px;
}
.card-content {
  cursor: pointer;
  /* text-align: center; */
  transition: 0.4s;
  border: 2px solid #ffffff5c;
  /* padding: 0; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card-content:hover {
  border-color: rgba(128, 128, 128, 0.412);
}
.onvan {
  padding: 1rem;
  background-color: #33333321;
  margin-bottom: -1.5px;
}
.hover-btn
{
  display: none;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align:center;
  border: none;
}
.card-content:hover .hover-btn
{
  bottom: 8%;
  right: 8%;
  height: 50px;
  width: 120px;
  display: block;
}
.hover-btn:focus {
  outline: none;
}
.hover-btn.color {
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}
.nav-btn2 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.866);
  color: #fff !important;
}
.nav-btn2:hover {
  background: rgba(255, 0, 0, 0.776);
}
.nav-btn2::before,
.nav-btn2::after {
  font-size: 25px;
}
.swiper2 .swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 60%;
  display: flex;
  position: static;
  margin: 12px auto;
}
.swiper2 .swiper-pagination-bullet {
    width: 100%;
    height: 5px;
    border-radius: 0;
    background-color: gray;
}
.swiper2 .swiper-pagination-bullet-active {
  background-color: rgb(76, 76, 76);
}
.swiper2 .swiper-pagination-bullet:hover {
    background-color: rgb(76, 76, 76);
    opacity: 1;
    outline: none;
}
.hover-image {
  max-width: 100%;
  height: auto;
  transition: transform 0.6s ease;
}
.sec6 img
{
  max-height: 380px;
  max-width: 600px;
  min-height: 38px;
  min-width: 60px;
}
.sec6-both
{
  margin-left: 15%;
}
.sec6-div
{
  max-height: 380px;
  max-width: 600px;
}
.sec6-txt
{
  margin-top: 10%;
  text-align: justify !important;
}
.card-body
{
  background-color: rgba(0, 0, 0, 0.496) !important;
  color: black !important;
}
.card-body svg
{
  width: 50px;
  height: 50px;
  display: flex;
}
.card1 , .card2
{
  left: 30%;
  top: 20%;
}
.sec7-txt
{
  margin-top: 70px;
}
/* responsive */
@media screen and (max-width: 1160px) {
  .menu {
    padding: 15px 100px;
  }
  .menu .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .menu {
    padding: 15px 50px;
  }
  .menu .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .menu .navOpenBtn,
  .menu .navCloseBtn {
    display: block;
  }
  .menu {
    padding: 15px 20px;
  }
  .menu .nav-links {
    position: fixed;
    top: -16px;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 80px;
    row-gap: 40px;
    flex-direction: column;
    right: 60%;
    background-color: gray ;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .menu.openNav .nav-links {
    left: 0;
  }
  .menu .navOpenBtn {
    color: black;
    font-size: 20px;
    cursor: pointer;
  }
  .menu .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .menu .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .submenu-container
  {
    display: none;
  }
  .ptxt
{
  font-size: 35px;
}
.fourth-sec
{
  height: 300px;
}
.sec4 svg
{
  height: 30px !important;
  width: 30px !important;
}
.sec4 span
{
  display: none;
}
.sec4 p
{
  font-size: 10px;
}
.box4-1 ,.box4-2, .box4-3 ,.box4-4
{
  right: 2% !important;
}
  /* slider */
  .nav-btn {
    visibility: hidden;
  }
  .swiper-pagination-bullet {
    visibility: visible;
  }
  .sec6-both
{
  margin-left: 0;
}
.card1 , .card2
{
  left: 0%;
  top: 20%;
}
}
